

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #EAEAEA;
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    clear: both;
}



/* -------------- Flash Messages -------------- */
.dummy_message {
    height: 40px;
    width: 200px;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0);
}

#success {
    height: 20px;
    width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 10px 10px;
    background: #B5DD86;
    border-radius: 2px;
    display: none;
}

#error {
    height: 20px;
    width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 10px 10px;
    background: #F67D6D;
    border-radius: 2px;
    display: none;
}

#info {
    height: 20px;
    width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 10px 10px;
    background: #ADCCEB;
    border-radius: 2px;
    display: none;
}

#warning {
    height: 20px;
    width: 200px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 10px 10px;
    background: #F4D28A;
    border-radius: 2px;
    display: none;
}

.success p,
.error p,
.info p,
.warning p,
.dummy_message p {
    line-height: 20px;
    margin: 0;
}




/* -------------- Buttons -------------- */

button[type="submit"] {
    position: relative;
    font-size: 14px;
    border: 0px solid rgba(0, 0, 0, 0);
    margin: 20px auto 0 auto;
    padding: 8px 26px;
    display: block;
    box-shadow: 0px 6px 0px #005C5F;
    background: #00979C;
    color: #ffffff;
    width: 200px;
    border-radius: 4px;
}

button[type="submit"]:hover {
    box-shadow: 0px 4px 0px #005C5F;
    top: 2px;
    cursor: pointer;
}

button[type="submit"]:active {
    box-shadow: 0px 0px 0px #2F3134;
    top: 6px;
    transition: 0.2s;
}

button[type="extra"] {
    position: relative;
    font-size: 14px;
    border: 0px solid rgba(0, 0, 0, 0);
    margin: 0 auto 20px auto;
    padding: 8px 26px;
    box-shadow: 0px 6px 0px #005C5F;
    background: #00979C;
    color: #ffffff;
    width: 200px;
    border-radius: 4px;
}

button[type="extra"]:hover {
    box-shadow: 0px 4px 0px #005C5F;
    top: 2px;
    cursor: pointer;
}

button[type="extra"]:active {
    box-shadow: 0px 0px 0px #2F3134;
    top: 6px;
    transition: 0.2s;
}

button[type="search"] {
    position: relative;
    font-size: 14px;
    padding: 8px 26px;
    margin-top: 4px;
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 6px 0px #005C5F;
    background: #00979C;
    color: #ffffff;
    border-radius: 4px;
}

button[type="search"]:hover {
    box-shadow: 0px 4px 0px #005C5F;
    top: 2px;
    cursor: pointer;
}

button[type="search"]:active {
    box-shadow: 0px 0px 0px #005C5F;
    top: 6px;
    transition: 0.2s;
}



/* -------------- Nav bar -------------- */
#nav {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 150px;
    height: 100vh;
    float: left;
    z-index: 10;
    background: #446CB3;
    margin: 0;
    padding: 0;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}

#nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#nav li {
    float: left;
    width: 100%;
    text-align: left;
    transition: 0.2s;
}

#nav li:hover {
    background-color: hsla(229, 100%, 100%, 0.2);
    transition: 0.1;
}

#nav li:active {
    background-color: hsla(229, 100%, 100%, 0.4);
}

#nav li a {
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

#logo {
    position: relative;
    height: 180px;
    width: 90%;
    border-radius: 5px;
    display: inline-block;
    margin-top: 6px;
    padding-top: 60px;
    text-align: center;
    background: hsla(229, 100%, 100%, 0.9);
    color: rgba(50, 200, 200, 1);
    transition: 0.3s;
}

#logo img {
    padding-top: 50px;
    height: 130px;
    width: 130px;
}

#logo a {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo:hover {
    background: hsla(212, 90%, 90%, 0.3);
    transition: 0.2s;
}

li span {
    color: #81CFE0;
}

#search {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    text-align: center;
}

#search_content {
    display: inline-block;
    width: 85%;
    height: 40px;
    margin: 3px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0px 6px;
    transition: 0.2s;
}




/* -------------- Page Title Section --------------    */
#title_div {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background: #446CB3;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.2);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 28px;
    letter-spacing: 6px;
    width: 100%;
    color: #FFFFFF;
    line-height: 80px;
    margin: 20px 0 0 30px;
}




/* -------------- Main Section --------------    */
#main_container {
    position: absolute;
    width: calc(100% - 150px);
    min-height: 100%;
    margin-left: 150px;
    text-align: center;
}




/* -------------- Content Container --------------    */
#sub_container {
    position: relative;
    background: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    padding: 4px 0;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0.75px 0.5px rgba(0, 0, 0, 0.2);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}




/* -------------- About -------------- */
#about_container {
    padding: 30px;
    width: 70%;
    margin: 10px auto;
    background: #E4F1FE;
    border-radius: 10px;
}

#about_left {
    width: 60%;
    text-align: left;
    display: inline-block;
}

#about_left ul {
    list-style: none;
}

#about_left li {
    float: left;
    width: 90%;
    padding: 8px;
    transition: 0.2s;
}

#about_left li:hover {
    background: rgba(100, 100, 100, 0.1);
    cursor: pointer;
    transition: 0.1s;
}

#about_left img {
    height: 80px;
    width: 240px;
    margin-left: 160px;
}

#about_right {
    display: inline-block;
    width: 30%;
}

#about_right img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 8px solid #2C3E50;
}

#about_right a {
    text-decoration: none;
}

#about_right span {
    color: #22A7F0;
    transition: 0.2s;
}

#about_right span:hover {
    color: #81CFE0;
    transition: 0.1s;
}



/* -------------- List -------------- */
.post_list_container {
    width: 95%;
    display: inline-block;
    text-align: left;
    margin: 4px 0 20px 0;
}

.post_listing {
    margin: 4px 0;
    height: 60px;
    display: inline-block;
}

.post_list_left {
    overflow: hidden;
    width: 200px;
    height: 100%;
    display: inline-block;
    border-radius: 6px 0 0 6px;
    transition: 0.2s;
}

.post_image {
    width: 100%;
    height: auto;
    margin: -40px 0;
    transition: 0.2s;
}

.post_list_right {
    width: 300px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-radius: 0 6px 6px 0;
    padding-top: 4px;
    vertical-align: top;
    transition: 0.2s;
}

.list_wrapper {
    height: 100%;
    width: 100%;
    background: #27ae60;
    border-radius: 6px 6px 6px 6px;
}

.list_id_time {
    margin: 0;
    font-size: 12px;
}

.list_title {
    margin: 0;
    font-size: 18px;
}

.list_author {
    margin: 0;
    font-size: 14px;
}

.post_listing a {
    text-decoration: none;
    color: black;
}




/* -------------- New Post -------------- */
.post_form {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
}

#current_author {
    font-size: 16px;
    margin: 0;
}

label[for=id_title],
label[for=id_content],
label[for=id_image] {
    display: block;
    letter-spacing: 2px;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#id_title {
    height: 40px; 
    width: 45%;
    margin: 0 auto;
    font-size: 28px;
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #E4F1FE;
    font-family: 'Open Sans', sans-serif;
}

#id_content {
    height: 165px; 
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #E4F1FE;
    font-family: 'Open Sans', sans-serif;
}

#id_image {
    margin: 10px 0;
}




/* -------------- User -------------- */
#user_bar {
    position: fixed;
    height: 40px;
    width: 200px;
    bottom: 10px;
    right: 10px;
    padding: 6px;
    background: #446CB3;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    z-index: 9000;
}

#user_bar_name {
    font-size: 14px;
    color: #f3f3f3;
    text-align: center;
    margin: 0;
}

#user_bar_email {
    font-size: 14px;
    color: #f3f3f3;
    text-align: center;
    margin: 0;
}

.user_form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.user_form label[for=id_username],
.user_form label[for=id_password],
.user_form label[for=id_email] {
    display: block;
    letter-spacing: 2px;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.user_form #id_username,
.user_form #id_password,
.user_form #id_email {
    height: 40px; 
    width: 45%;
    margin: 0 auto;
    font-size: 28px;
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #E4F1FE;
    font-family: 'Open Sans', sans-serif;
}




/* -------------- Detail --------------    */
#post_main {
    width: 100%;
    margin-top: 8px;
    padding: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#content_container {
    width: 80%;
    display: inline-block;
}

.post_image_holder {
    margin-top: 10px;
    height: 275px;
    float: right;
}

.post_detail_image {
    max-height: 100%;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

#content_user {
    text-align: left;
    position: relative;
    top: 0;
}

#post_author {
    font-size: 24px;
    margin: 0;
    color: gray;
}

#content {
    margin-top: 10px;
    position: relative;
    width: 100%;
}

#post_content {
    margin: 0;
    font-size: 28px;
    text-align: left;
    min-height: 200px;
    width: 350px;
}

#post_tags {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}

#options_time {
    position: relative;
}

#post_time {
    margin: 4px 0;
    text-align: left;
    font-size: 12px;
    color: gray;
}

#post_options {
    margin-top: 10px;
    text-align: left;
}

#post_options span {
    color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

#post_options span:hover {
    color: #0879C8;
    transition: 0.3s;
}

#post_likes {
    display: inline;
    margin: 0;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

#post_likes span {
    color: rgba(0, 80, 180, 0.6);
    font-size: 24px;
    transition: 0.2s;
}

#post_likes span:hover {
    color: rgba(0, 80, 180, 0.9);
    transition: 0.3s;
    cursor: pointer;
}




/* -------------- Comments --------------    */
#comment_section {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: relative;
    background-color: #F5F5F5;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

#add_comment_content {
    margin-top: 20px;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    font-size: 21px;
    color: gray;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

#add_comment_content:focus {
    border: 1px solid #446CB3;
    transition: 0.2s;
}

#comment_list {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#comment_content {
    display: inline-block;
    text-align: left;
    padding: 20px 20px 20px 20px;
    width: 92%;
    height: 100%;
    position: relative;
    word-wrap: break-word;
    background: rgba(235, 235, 235, 1);
}

#comment_content_main {
    font-size: 18px;
}

#comment_upvotes {
    float: right;
    font-size: 12px;
    width: 30px;
    margin: 5px;
}

#comment_extra {
    display: inline-block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: 40px;
    font-size: 21px;
    line-height: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#comment_content_time {
    font-size: 12px;
    color: gray;
    position: relative;
    bottom: 0;
    text-align: center;
}

#upvoting_option {
    font-size: 10px;
}

#upvoting_option a {
    color: gray;
    text-decoration: none;
    margin: 5px;
    transition: 0.2s;
}

#upvoting_option a:hover {
    color: blue;
    transition: 0.1s;
}

#comment_list p {
    margin: 0;
}
 

