
{% extends 'blog/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p id="{{ message.tags }}" class="flash_message">{{ message }}</p>
        {% endfor %}
    {% else %}
        <p class="dummy_message"></p>
    {% endif %}
    
    <div class="post_list_container">
        {% for post in posts %}
            <div class="post_listing">
                <a href="{% url 'blog.views.post_detail' post_id=post.pk %}">
                    <div class="list_wrapper">
                        <div class="post_list_left">
                            {% if post.image %}
                                <img class="post_image" src="{{ post.image.url }}" />
                            {% endif %}
                        </div>
                        <div class="post_list_right">
                            <p class="list_id_time">{{ post.created_at }} {{ post.id }}</p>
                            <p class="list_title">{{ post.title }} <span class="fa fa-star"></span> {{ post.favorites }} </p>
                            <p class="list_author">{{ post.author }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}