{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>{{ page_title }} | &#x3BC;Blog</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu|Montserrat' rel='stylesheet'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header>

            <!-- Nav bar -->
            <div id="nav">
                <ul>
                    <div id="logo"><a href="{% url 'blog.views.about_page' %}"><img src="{% static 'css/img/ice.gif' %}"></img></a></div>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blog.views.user_logout' %}"><span class="fa fa-bars"></span> LOGOUT</a></li>
                    {% else %}
                        <li><a href="{% url 'blog.views.user_login' %}"><span class="fa fa-bars"></span> LOGIN</a></li>
                    {% endif %}
                    <li><a href=""><span class="fa fa-bars"></span> TOPICS</a></li>
                    <li><a href="{% url 'blog.views.post_list' %}"><span class="fa fa-bars"></span> LIST</a></li>
                    <li><a href="{% url 'blog.views.post_new' %}"><span class="fa fa-bars"></span> NEW</a></li>

                    <div id="search">
                    </div>
                </ul>
            </div>
            <div id="user_bar">
                <p id="user_bar_name">{{ user.username }}</p>
                <p id="user_bar_email">[{{ user.email }}]</p>
            </div>

        </header>


        <!-- Main Page Area -->
        <div id="main_container">
            <div id="title_div">
                <h3>{{ page_title }}</h3>
            </div>


            <!-- Content -->
            <div id="sub_container">

                 <!-- Insert new routes/pages -->
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/dynamic.js' %}"></script>
    </body>
</html>