
{% extends 'blog/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div id="post_main">
        <div id="content_container">
            <div class="post_image_holder">
                {% if post.image %}
                    <img class="post_detail_image" src="{{ post.image.url }}" />
                {% endif %}
            </div>
            <div id="content_user">
                <p id="post_author">{{ post.author }}</p>
            </div>

            <div id="content">
                <p id="post_content">{{ post.content }}</p>
            </div>

            <div id="options_time">
                <div id="post_options">
                    <a href="{% url 'blog.views.post_edit' post_id=post.pk %}"><span class="fa fa-pencil-square fa-2x"></span></a>
                    <a href="{% url 'blog.views.post_delete' post_id=post.pk %}"><span class="fa fa-trash fa-2x"></span></a>
                    <a href="{% url 'blog.views.post_like' post_id=post.pk %}"><span class="fa fa-star fa-2x"></span></a>
                    <p id="post_likes">[ +{{ post.favorites }} ]</p>
                </div>
                {% if post.updated_at %}
                    <p id="post_time">Modified: {{ post.updated_at }}</p>
                {% else %}
                    <p id="post_time">Created: {{ post.created_at }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="comment_section">
        <section id="add_comment">
            <form id="comment_form" action="{% url 'blog.views.comment_add' post_id=post.pk %}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <input type="text" id="add_comment_content" name="content" placeholder="Reply to {{ post.author }}"></input>
                <button type="submit" style="margin-bottom: 20px;">REPLY</button>
            </form>
        </section>

        {% if comments %}
          {% for comment in comments %}
            <article id="comment_list">
              <div id="comment_content">
                {% if comment.votes >= 0 %}
                  <p style="color: green;" id="comment_upvotes">{{ comment.votes }}<span class="fa fa-level-up"><span></p>
                {% else %}
                  <p style="color: red;" id="comment_upvotes">{{ comment.votes }}<span class="fa fa-level-down"><span></p>
                {% endif %}
                <p id="comment_content_main">{{ comment.content }}</p>
              </div>
              <div id="comment_extra">
                <p id="comment_content_time">{{ comment.created_at }}</p>
                <p>{{ comment.author }}</p>
                <div id="upvoting_option">
                  <a href="{% url 'blog.views.comment_upvote' comment_id=comment.pk post_id=post.pk %}">Upvote</a>
                  <a href="{% url 'blog.views.comment_downvote' comment_id=comment.pk post_id=post.pk %}">Downvote</a>
                </div>
              </div>
            </article>
          {% endfor %}
        {% endif %}

    </div>
{% endblock %}